<p>login works!</p>


<div class="loginBox">

    <div class="button-box">
        <div id="btn"></div>
        <button class="toggle-btn">  Login    </button>
         <button class="toggle-btn"> Registration </button>
    </div>
     <div class="social-icons">
<!--
        <img src="img/facebook.png" alt="Facebook Logo Error..">
        <img src="img/gmail.png" alt="Gmail Logo Error..">
-->
     </div>
     <form id="login" class="input-group">
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="password" class="input-field" placeholder="Password" required>
            <br>
             <button type="submit" class="submit-btn">Log in</button>
    </form>

</div>
